<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="StorageConnectionStringTest" value="DefaultEndpointsProtocol=https;AccountName=visualstudiotestsiddhant;AccountKey=Swch9u2MNhFTNSAsEo3tDnTMPE70NCEQ+wFp0Fz+6+w4gnw/xzook6CQ4QKovCee4N2X+E2KhiJuzAYdR+Ndbg==" />
        <add key="StorageConnectionStringSid" value="DefaultEndpointsProtocol=https;AccountName=sidstoragetrial1;AccountKey=qTBriLf0bCog32x6zLEoCzFO+lXnuuPQqIIVgIgYVJrB1+DEilvKGFd/+KAVkPRUsBiKxOnZC0dxtuXh2ig5qw==" />
    </appSettings>
</configuration>